<!DOCTYPE html>
<html>
<head>
  <title>TE</title>
  <link href="base.css" rel="stylesheet" />
</head>

<body class="container">
  <h1>Congratulations!</h1>
  <p>You've successfully registered for the conference!</p>
</body>
</html>
